<div class="container">
  <h1>Joana's bar cocktails</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
     <h5><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
    <% end %>
  </ul>
<button type="button" class="btn btn-danger"><%= link_to 'Add new cocktail', new_cocktail_path %></button>
</div>
