<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/1058433/pexels-photo-1058433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Welcome to Joana's Bar</h1>
    <p>Drink the Best Cocktails in Town!</p>
  </div>
</div>


<div class="wrapper">
<div class="container">
  <h5><em>Have a look at our wonderful cocktails!</em></h5>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Flaming_cocktails.jpg/320px-Flaming_cocktails.jpg');">
        <h5 class ="card-category"><%= cocktail.name %></h5>
        <p class = "card-description"> <%= link_to 'See details', cocktail_path(cocktail)%></p>
      </div>
    </div>
    <% end %>
  </div>
<button type="button" class="btn btn-danger"><%= link_to 'Add new cocktail', new_cocktail_path %></button>
</div>
  </div>

